
      
      <div class="featurette" ng-controller="MainCtrl">
        <div class="container-fluid">
          <div class="navbar navbar-header">
            <span><h2>{{pageTitle}}</h2></span>
          </div>
          <div>
            <form class="navbar-form pull-right" role="search" onsubmit="return false">
              <div class="form-group">
                <input type="text" class="form-control" id="searchTxt" placeholder="Search Projects" ng-model="searchProjects">
                <span class="ssBtns">
                  <button type="button" class="btn btn-default btn-xs rndBtn pull-right" id="sortAsc" ng-click="reset()">Reset</button>
                </span>
              </div>
            </form>
          </div>
        </div>
        <div dir-paginate="project in projects | orderBy:predicate:reverse | filter:searchProjects | itemsPerPage: itemsPerPage " >
        <div ng-if="$index % 3 == 0" class="row"></div>
        <div class="col-md-4" >
          <div class="pListItem">
            <h2><a href="{{project.githubUrl}}" target="_blank">{{project.title | cut:false:18:' ...'}}</a></h2>
            <p>{{project.desc | cut:true:200:' ...'}}</p>
<!--
            <span class="meta">
              <span class="stars"><i class="fa fa-star"></i>{{project.stars}}</span>&nbsp;<span class="forks"><i class="fa fa-code-fork"></i>{{project.forks}}</span>
              <span>&nbsp;&nbsp;<a href="{{project.orgUrl}}">{{project.org}}</a></span>
            </span>
-->
          </div>
        </div>
      </div>
    </div>
    <dir-pagination-controls></dir-pagination-controls>


